
$color-primary-dark: #172952;

$color-primary: #0073AC;
$color-label: $color-primary;
$anchor-primary-hover: $color-primary;
$color-action: $color-primary;
$button-bg: $color-primary;
$button-bg-primary: $color-primary;
$button-secondary-bg-hover: $color-primary;
$anchor-primary: $color-primary;
$color-global-header-bg-mobile: $color-primary;

$color-primary-light: #00A6E6;

$color-primary-accent: #00A5DA;

$color-secondary-dark: #AE5008;

$color-secondary: #F47D20;

$color-secondary-light: #FBD2B2;

$color-secondary-accent: #F4AD27;

$color-dark: #222;
$button-bg-hover: $color-dark;

$color-light: #CCC;

$color-accent: #11E3FC;

$color-error: #E70000;

$color-alert: #F47D20;
$button-secondary-bg: $color-alert;

$color-base: #333;

$color-disabled: #808285;
$color-placeholder: $color-disabled;

$color-white: #FFF;
$color-global-header-text-mobile: $color-white;

$color-primary-dark-contrast: #FFF;
$color-primary-contrast: $color-primary-dark-contrast;
$button-bg-contrast: $color-primary-dark-contrast;
$button-bg-primary-contrast: $color-primary-dark-contrast;
$button-secondary-bg-hover-contrast: $color-primary-dark-contrast;
$color-global-header-bg-mobile-contrast: $color-primary-dark-contrast;
$color-secondary-dark-contrast: $color-primary-dark-contrast;

$color-primary-light-contrast: #565656;
$color-secondary-contrast: $color-primary-light-contrast;
$color-secondary-light-contrast: $color-primary-light-contrast;
$color-secondary-accent-contrast: $color-primary-light-contrast;