.profile {
	background: #fff;
	padding: 1.5rem;
	display: flex;
	align-items: flex-start;

	&__avatar {
		border-radius: 50%;
		border: 1px solid #666;
		// box-shadow:-2px 3px 1px $color-primary,
		// 			2px -3px 1px $color-primary-dark;
	}

	&__line-item {
		font-weight: bold;
		margin: 0;
		line-height: 1.6;

		&__label {
			font-weight: normal;
			text-transform: uppercase;
		}
	}
}

.identity {
	padding: 1rem;
	
	&__heading {
		margin-bottom: 1.5rem;
	}

	&__name {
		font-size: 1.25rem;
	}

	&__location {
		font-weight: normal;
		margin-bottom: 1.2rem;
	}
	
	&__line-item {
		line-height: 1.3;
		margin: 0;
	}
}